<div id="leaderboard">
  <div class="points" id="red-points">0</div>
  <div class="points" id="blue-points">0</div>
</div>
<h1 id="countdown">3</h1>
<canvas></canvas>
<div id="hp-bar">
  <div id="hp"></div>
  <span>HP</span>
</div>
