body {
  margin: 0;
  padding: 50px;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Bebas Neue', cursive;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.button-small {
  font-size: 2rem;
  border: 5px solid white;
  padding: 10px 20px;
  transition: 0.3s;
  cursor: pointer;
  color: white;
  text-decoration: none;
  margin-left: 50px !important;
}

.button {
  font-size: 2rem;
  border: 10px solid white;
  padding: 20px 50px;
  transition: 0.3s;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.button:hover,
.button-small:hover {
  background-color: white;
  color: black;
}

#party-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  margin: 30px;
}

.party {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.party:not(:last-child) {
  border-bottom: 5px solid white;
}

.party > * {
  margin: 0 20px;
}

.players svg {
  height: 30px;
  margin: 5px;
}

.players {
  display: flex;
  align-items: center;
  justify-content: center;
}
